body{
  text-align:center;

}
.btn{
  height:150px;
  width:150px;
  border-radius:40px;
  border:10px solid black;
  /* padding:30px; */
  margin:2.5rem;
}
.btn-container{
  display:flex;
  justify-content:center;
}
.yellow{
  background-color:#f99b45;
}
.red{
  background-color:#d95980;

}
.purple{
  background-color:#6399c0;
}
.green{
  background-color:#819ff9;
}
.flash{
  background-color:white;
}
.userFlash{
  background-color:green;
}


/* ///copy paste discord */

/* body{
  text-align: center;
}
.btn{
  height: 150px;
  width: 150px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2rem;
}
.btn-container{
  display: flex;
  justify-content: center;
}
.red{
  background-color:rgb(243, 39, 39) ;
}
.yellow{
  background-color: rgb(242, 242, 40);
}
.green{
  background-color: rgb(16, 237, 16);
}
.purple{
  background-color: rgb(224, 16, 224);
}
.flash{
  background-color: white;
} */















/* div{
  background-color:pink;
  height:200px;
  width:400px;
}
ul{
  background-color:blue;

}
li{
  background-color:greenyellow;
} */